#div1 {
    width: 70px;
    min-height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
    border-radius: 4px;
}
#div2 {
    min-width: 250px;
    width: auto;
    min-height: 70px;
    height: auto;
    padding: 10px;
    border: 1px solid #aaaaaa;
    border-radius: 4px;
}

#div3 {
    width: 550px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
    border-radius: 4px;
}

img {
    width: 50px;
    height: 50px;
}

@media screen and (max-width: 767px) {
    #nav-tab-ul {
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    #navbar-pills {
        padding: 0;
    }

    #nav-tab-ul li {
        width: 100%;
        text-align: center;
    }

    #brand {
        line-height: 100%;
    }
}

@media screen and (max-width: 1152px) {

}

